/.DS_Store
/.history
/1000001538.PDF
/HW4 - Q2.png
/HW4 - Q3.png
/HW4 -Q1.png
/HW4-Q4(Solution).pdf
/Q12_answer.sql
/Q13_answer.sql
/cs348_hw3_solution.pdf
/example.db
/homework1_solutions.txt
/hw
/hw2sol.sql
/lecture slide
/stage1_submission
/stage2_submission